@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    font-family: 'Exo 2', sans-serif;
}
h1{
    text-align: center;
    margin: 0px;
}
p{
    text-align: center;
    margin-top: 0px;
}
h2{
    text-align: center;
}
.light-theme{
    margin: 0;
    padding: 0;
    background-color: #333333;
}
.dark-theme{
    margin: 0;
    padding: 0;
    background-color: rgb(224, 224, 224);
}
.light-theme .text{
    color: rgb(255, 240, 218);
}
.dark-theme .text{
    color: #333333
}
.theme-button{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    all: unset;
}
.player {
    width: 240px;
    height: 360px;
    object-fit: cover;
    border-radius: 4px;
    transition: 0.2s
}
.player:hover{
    transform: scale(1.03);
}
.name{
    text-align: center;
}
.people_stely{
    margin: 25px;
    margin-bottom: 0px;
}
.players{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 15px;
}
.main_logo{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    margin-top: 20px;
    background-color: #333333;
    transition: 0.2s
}
.main_logo:hover{
    transform: scale(1.02);
}
.block{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    flex-wrap: wrap;
}
.main{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}
@media(min-width: 500px) {
    .hat{
        width: 489px;
        display: flex;
        flex-direction: column;
    }
    .hat_main{
        display: flex;
        justify-content: center;
    }
    .logo{
        border-radius: 10px;
    }
}
@media(max-width: 500px){
    .hat{
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    .hat_main{
        display: flex;
        justify-content: center;
    }
    .logo{
        border-radius: 10px;
        object-fit: cover;
        width: 300px;
    }
}
