@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    font-family: 'Exo 2', sans-serif;
}
.player {
    width: 240px;
    object-fit: cover;
    height: 360px;
}
h1{
    text-align: center;
    margin: 0px;
    color: blanchedalmond;
}
p{
    text-align: center;
    margin-top: 0px;
    color: blanchedalmond;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #333333;
}
h2{
    text-align: center;
    color: blanchedalmond;
}
.name{
    text-align: center;
    color: blanchedalmond;
}
.people_stely{
    margin: 25px;
    margin-bottom: 0px;
}
.players{
    margin: 15px;
    flex-basis: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.hat{
    width: 489px;
    display: flex;
    flex-direction: column;
}
.hat_main{
    display: flex;
    justify-content: center;
}
.logo{
    border-radius: 10px;
    margin-top: 20px;
}

.block{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    flex-wrap: wrap;
}
.main{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}
